html {
    font-family: Roboto, sans-serif;
}
h2 {
    font-size: 1.5rem;
}

.apartment_list a{
    color: black;
    text-decoration: none;
}

.apartment_list a:hover .apartment_container {
    border-color: rgba(0, 0, 0, 0.36);
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}


.apartment_address {
    font-size: 1.7rem;
    font-weight: lighter;
    text-align: left;
}

.apartment_zip {
    font-size: 1.7rem;
    font-weight: bold;
    float:right;
}

.apartment_list {
    margin: auto;
    text-align: center;
}
.description {
    text-align: justify;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.crop {
    height: 14rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.5rem;

}

.apartment_container .crop img {
    height: 14rem;
    width: 100%;
    transition: 0.2s ease-in-out;
    opacity: 100;
}

.search-input > div {
    margin: auto;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 0 2rem;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}


.orange-background {
    background-color: #F5BB63;
}
.value {
    width: 15%;
    display: inline-block;
}

.slider {
    width: 50%;
    margin: 0 1rem;
    display: inline-block;
}
.apartment_container {
    display: inline-block;
    margin: 0.2rem;
    padding: 1.3rem;
    width: 21rem;
    height: 27rem;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}

.apartment_container .price {
    color: snow;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
}

.price_container {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F5BB63;
    display: block;
}

.apartment_container .info {
    width: 90%;
    margin: 0.5rem auto ;
    display: flex;
    justify-content: space-between;
}

.see_more {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    color: snow;
    text-align: center;
    transform: translateX(50%) translateY(5rem);
    opacity: 0;
    transition: 0.2s ease-in-out;
    z-index: 100;
}

.see_more p {
    position: relative;
}

.apartment_container a:hover .see_more{
    opacity: 100;
}

.apartment_container a:hover img {
    filter: blur(0.5rem);
    -webkit-filter: blur(0.5rem);
}





