html {
    font-family: Roboto, sans-serif;
}
h2 {
    font-size: 1.5rem;
}

.apartment_list a{
    color: black;
    text-decoration: none;
}

#sort-block {
    margin-left:auto;
    margin-right:0;
    margin-top: 1rem;
}

#sort-head {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}

.apartment_list a:hover .apartment_container {
    border-color: rgba(0, 0, 0, 0.36);
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}


.apartment_address {
    font-size: 1.7rem;
    font-weight: lighter;
    text-align: left;
}

.apartment_zip {
    font-size: 1.7rem;
    font-weight: bold;
    float:right;
}

.price {
    font-weight: bold;
    float:right;
}

.apartment_list {
    margin: auto;
    text-align: center;
}
.description {
    text-align: justify;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.crop {
    height: 14rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.5rem;

}

.apartment_container .crop img {
    height: 14rem;
    width: 100%;
    transition: 0.2s ease-in-out;
    opacity: 100;
}

.drop-downs {
    width: 100%;
}

.dropdown-menu ul, li {
    list-style: None;
    margin: 0;
    padding: 0;

}


.big-checkbox {width: 1rem; height: 1rem;}

#type .dropdown-menu {
    width: auto;
    height: 8.5rem;
    padding: 1.5rem;
}

#location .dropdown-menu {
    width: 15rem;
    height: 8.5rem;
    padding: 1.5rem 2rem;
    overflow: scroll;
    overflow-x: hidden;
}


.apart-header {
    background-color: #F5BB63;
    padding: 2em;
}

.apart-header h1 {
    display: inline-block;
    margin-right: 2rem;
}

.search-input > div {
    margin: auto;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 0 2rem;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}


.orange-background {
    background-color: #F5BB63;
}
.value {
    width: 15%;
    display: inline-block;
}

.slider {
    width: 50%;
    margin: 0 1rem;
    display: inline-block;
}

.slider-container p {
    margin: 0;
}
.apartment_container {
    display: inline-block;
    margin: 0.2rem;
    padding: 1.3rem;
    width: 21rem;
    height: 27rem;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
}

.apartment_container .price {
    color: snow;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
}

.price_container {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F5BB63;
    display: block;
}

.price_container div {
    padding: 0.5rem;
}

.history-block {
    padding: 1.5rem;
    width: 100%;
    height: 7rem;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
    margin: 0.1rem 0;
}



.history-block a {
    margin: auto;
}

.history-content :nth-child(even).history-block {
    background-color: whitesmoke;
}

.apartment_container .info {
    width: 90%;
    margin: 0.5rem auto ;
    display: flex;
    justify-content: space-between;
}

.see_more {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    color: snow;
    text-align: center;
    transform: translateX(50%) translateY(5rem);
    opacity: 0;
    transition: 0.2s ease-in-out;
    z-index: 100;
}

.see_more p {
    position: relative;
}

.apartment_container a:hover .see_more{
    opacity: 100;
}

.apartment_container a:hover img {
    filter: blur(0.5rem);
    -webkit-filter: blur(0.5rem);
}

* {box-sizing:border-box}

.pay-form {
    padding: 40px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: lightgray solid 1px;
    background-color: whitesmoke;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

/* Vertical line in the middle of the payment form */
.vl {
    border-left: 1px solid black;
    height: 90%;
    position: absolute;
    left: 47%;
    margin-left: -3px;
    top: 5%;
}

.glyphicon {
    margin-bottom: 10px;margin-right: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: lightgray;
}

.email {
    color: grey;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: orange;
}

/* Pop up css for checkout page */
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.slider-img {
    width: 300px;
    height: 500px;
}

hr {
    display: none;
}

.details {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
}

.details_line {
    width: 35%;
    border: 1px solid black;
    margin: 0 0 10px 0;
}

.details_name {
    float: left;
}

.details_value {
    float: right;
    font-weight: 700;
}

.details {
    /*content: "";
    border-bottom: 1px solid #d5d9dd;
    height: 1px;
    width: 98%;
    margin-left: 2%;
    padding: 12px 0 0 0;*/
}

/* Slideshow container */
/*.slideshow-container {
  max-width: 700px;
  max-height: 700px;
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 1;
}*/

.slideshow-container {
    text-align: left;
    position: relative;
}

/* Hide the images by default */
.mySlides {
  display: None;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1000.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}