{% extends "base.html" %}
{% block content %}
    <div style="background-color: whitesmoke; ">
        <div class="apart-header">
            <h1>{{ apartment.address }}</h1>
            <h1 style="font-weight: lighter">{{ apartment.zip }}</h1>
            <h1 class="price">{{ price }} kr.</h1>
        </div>
        <!-- Slideshow container -->
        <div class="slideshow-container">
            {% for apartment_image in apartment.apartmentimage_set.all %}
            <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext"></div>
                    <img class="slider-img" src="{{ apartment_image.image }}" style="width:100%">
                    <div class="text"></div>
                </div>
            {% endfor %}
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div style="text-align:center">
        {% for apartment_image in apartment.apartmentimage_set.all %}
            <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
        {% endfor %}
        </div>

        <div class="details">
            <div class="details_section">
                <div class="details_name">Tegund: </div>
                <div class="details_value">{{ apartment.type }}</div>
            </div>
            <div class="details_section">
                <div class="details_name">Fjöldi baðherbergja: </div>
                <div class="details_value">{{ apartment.num_bath_room }}</div>
            </div>
            <div class="details_section">
                <div class="details_name">Fjöldi herbergja: </div>
                <div class="details_value">{{ apartment.num_rooms }}</div>
            </div>

        </div>
        <div class="details_description">
            <h2>Lýsing:</h2>
            <p>{{ apartment.description }}</p>
        </div>

        <br>
    </div>

     <h5 style="margin-top: 2rem">Frekari upplýsingar fást hjá:</h5>

    <div class="seller">
        {% for image in profiles %}
        {% if image.user_id == apartment.seller.id %}
           <div>
               <img src="{{ image.profile_img }}">
           </div>
        {% endif %}
        {% endfor %}
        <div class="seller-info">
            <div class="first_name">{{ apartment.seller.first_name }}</div>
            <div class="last_name"> {{ apartment.seller.last_name }}</div>
            <p>Löggiltur fasteignasali</p>
            <i class="fa fa-vcard" style="font-size:24px; position: relative; top: 0.2rem;"></i>
            <a style="margin-left: 0.5rem" href="mailto: {{ apartment.seller.email }}">{{ apartment.seller.email }}</a>
        </div>

    </div>

        <a href="{% url 'greidsla' apartment.id %}" id="btn-buy" class='block btn btn-primary m-2'>Kaupa húsnæði</a>
        {%  if user.is_superuser %}
        <a href="{% url 'eyda_husnaedi' apartment.id %}" id="btn-delete" class='block btn btn-primary m-2'>Eyða húsnæði</a>
        <a href="{% url 'breyta_husnaedi' apartment.id %}" id="btn-update" class='block btn btn-primary m-2'>Breyta húsnæði</a>
        {% endif %}
{% endblock %}
