{% extends "base.html" %}
{% block content %}
    <h2>{{ apartment.address }}</h2>
    <p>{{ apartment.price }}</p>
    <p>{{ apartment.num_bath_room }}</p>
    {% for apartment_image in apartment.apartmentimage_set.all %}
        <img src="{{ apartment_image.image }}" class="apartment_image">
    {% endfor %}

    <a href="{% url 'eyda_husnaedi' apartment.id %}" class='block btn btn-primary'>Eyða húsnæði</a>
    <a href="{% url 'breyta_huanedi' apartment.id %}" class='block btn btn-primary'>Breyta húsnæði</a>
{% endblock %}