{% extends "base.html" %}
{% block content %}
    <!-- Popup - overview of payment -->
        <div id="popup1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                                    {{ user.email }}
                                    <br>
                                    <abbr title="Phone">P:</abbr> (213) 484-6829
                                </address>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    <em>{{ datetime.date.today }}</em>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h1>Greiðslu yfirlit</h1>
                            </div>
                            </span>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kostnaðarliður</th>
                                        <th class="text-center">Verð</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-9"><em>Fasteign: {{ apartment.address }}</em></td>
                                        <td class="col-md-3 text-center">{{ apartment.price }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-9"><em>Lántökugjald</em></td>>
                                        <td class="col-md-3 text-center">50000</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-9"><em>Umsýslugjald</em></td>
                                        <td class="col-md-3 text-center">{{ apartment.price}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-9"><em>Þinglýsingarkostnaður</em></td>
                                        <td class="col-md-3 text-center">2000</td>
                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>

                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td class="text-right"><h4><strong>Kostnaður: </strong></h4></td>
                                        <td class="text-center text-danger"><h4><strong>TOTAL $$</strong></h4></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="submit block btn btn-primary" href="{% url 'stadfesting' apartment.id %}">
                                    Greiða húsnæði<span class="glyphicon glyphicon-chevron-right"></span></a></td>
                        </div>
                    </div>
            </div>
        </div>
        </div>
{% endblock content %}
