{% extends "base.html" %}
{% block content %}
    <title>Starfsmenn</title>
    <h1>Starfsmenn</h1>
    {% for user in users %}
        <div class="seller">
        {% for image in profiles %}
        {% if image.user_id == user.id %}
           <div>
               <img src="{{ image.profile_img }}">
           </div>
        {% endif %}
        {% endfor %}
        <div class="seller-info">
            <div class="first_name">{{ user.first_name }}</div>
            <div class="last_name"> {{ user.last_name }}</div>
            <p>Löggiltur fasteignasali</p>
            <i class="fa fa-vcard" style="font-size:24px; position: relative; top: 0.2rem;"></i>
            <a style="margin-left: 0.5rem" href="mailto: {{ user.email }}">{{ user.email }}</a>
        </div>

    </div>
    {% endfor %}
{% endblock content %}
