{% extends "base.html" %}
{% block content %}
    <title>Starfsmenn</title>
    <h1>Starfsmenn</h1>
    {% for user in users %}
        <div class="starfsmadur">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.email }}</p>
            {% for img in profiles %}
                {% if img.user_id == user.id %}
                    <img src="{{ img.profile_img }}">
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
