{% extends "base.html" %}
{% block content %}
    <div class="input-group">
        <form class="search-input">
            <div style="width: 100%">
                <div class="slider-container">
                    <p>Stærð:</p>
                    <div class="min_1 value" id="minSize">0 m<sup>2</sup></div>
                    <div id="slider1" class="slider"></div>
                    <div class="max_1 value" id="maxSize">500 m<sup>2</sup></div>
                </div>
            </div>

            <div style="width: 100%">
                <div class="slider-container">
                    <p>Verð:</p>
                    <div class="min_2 value" id="minPrice">0 milljónir</div>
                    <div id="slider2" class="slider"></div>
                    <div class="max_2 value" id="maxPrice">200 milljónir</div>
                </div>
            </div>

            <div style="width: 100%">
                <div class="slider-container">
                    <p>Herbergi:</p>
                    <div class="min_3 value" id="minRooms">0 herbergi</div>
                    <div id="slider3" class="slider"></div>
                    <div class="max_3 value" id="maxRooms">10 herbergi</div>
                </div>
            </div>
            <div class="drop-downs">
                <div class="dropdown show d-inline" id="location">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Svæði
                    </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p1" value="101"></input>
                                    101 Reykjavík
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p2" value="170"></input>
                                    170 Seltjarnarnes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p3" value="200"></input>
                                    200 Kópavogur
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p4" value="210"></input>
                                    210 Garðabær
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p5" value="220"></input>
                                    220 Hafnafjörður
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p6" value="225"></input>
                                    225 Álftanes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p7" value="270"></input>
                                    270 Mosfellsbær
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p8" value="190"></input>
                                    190 Vogar
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p9" value="230"></input>
                                    230 Reykjanesbær
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p10" value="240"></input>
                                    240 Grindavík
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p11" value="245"></input>
                                    245 Sandgerði
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p12" value="300"></input>
                                    300 Akranes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p13" value="400"></input>
                                    400 Ísafjörður
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p14" value="580"></input>
                                    580 Siglufjörður
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="big-checkbox" type="checkbox" id="p15" value="600"></input>
                                    600 Akureyri
                                </label>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="dropdown show d-inline" id="type">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tegund
                    </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li>
                                <input class="big-checkbox" value="1" type="checkbox" id="t1"></input>
                                <label for="1_type">Einbýlishús</label>
                            </li>
                            <li>
                                <input class="big-checkbox" value="2" type="checkbox" id="t2"></input>
                                <label for="2_type">Tvíbýlishús</label>
                            </li>
                            <li>
                                <input class="big-checkbox" value="3" type="checkbox" id="t3"></input>
                                <label for="3_type">Fjölbýlishús</label>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div>
                <input type="search" class="form-control" id="search-box" placeholder="Leita eftir heimilisfangi...">
            </div>
            <div class="input-group-btn">
                <button type="button" id="search-button" onclick="get_apart()" class="btn btn-default orange-background">Leita</button>
            </div>
        </form>
       <a class="arrow-container" href="#apartment_list">
          <span class="down-arrow">
          </span>
        </a>
        <div id="sort-block">
            <div id="sort-head">
                Raða eftir
            </div>
            <select id="order_option" onchange="get_apart()">
                <option type="button" value="1" selected="selected">Verð: lægsta - hæsta</option>
                <option type="button" value="2">Verð: hæsta - lægsta</option>
                <option type="button" value="3">Stærð: minnsta - stærsta</option>
                <option type="button" value="4">Stærð: stærsta - minnsta</option>
                <option type="button" value="5">Póst nr: lægsta - hæsta</option>
                <option type="button" value="6">Póst nr: hæsta - lægsta</option>
                <option type="button" value="7">Stafrófsröð: A - Z</option>
                <option type="button" value="8">Stafrófsröð: Z - A</option>
            </select>
        </div>
    </div>

    <div class="apartment_list" id="apartment_list">
        <h2 class="text-center pt-3 pb-3">Allar eignir:</h2>
            {% for apartment in apartments %}
                {% include 'hus/Eitt_hus.html' with apartment=apartment %}
            {% endfor %}
    </div>
{% endblock content %}