{% extends "fasteignasala/../base.html" %}
{% block content %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4">Innskráning</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Skrá inn</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Vantar aðgang? <a class="ml-2" href="{% url 'nyskraning' %}">Nýskráðu þig hér</a>
        </small>

    </div>
    </div>
{% endblock content %}