{% extends "base.html" %}
{% block content %}
    <div class="modal-body row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ profile.profile_img }}" alt="{{ profile.profile_img }}" style="width:100%">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="email">{{ user.email }}</p>
                <div style="margin: 24px 10px;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% for instance in history %}
                <a href="/{{ instance.apartment_id }}">
                <h1>{{ instance.apartment}}</h1>
                <p>{{ instance.viewed_on }}</p>
                <img src="{{ instance.apartment.apartmentimage_set.first.image }}">
                </a>
            {% endfor %}
        </div>
{% endblock content %}

Geyma ::: {% if form.profile_img is not_empty %} {% endif %}
