{% extends "base.html" %}
{% block content %}
    <div class="um_okkur">
        <h1>Um okkur</h1>
        <br>
        <p>LúxHús fasteignasala ehf.</p>
        <p style="display: inline-block;">Sendu okkur póst á</p> <a style="display: inline-block;" href = "mailto: luxhus@luxhus.is">luxhus@luxhus.is!</a>
        <p>LúxHús er nýtilkomin fasteignasala sem var stofnuð snemma árs 2019. Nokkur almenn gildi sem við leggjum áherslu á í okkar þjónustu eru:
            heiðarleiki, einfeldni, metnaður og traust. Eigendur fasteignasölunnar sem og stofnendur eru fimm fallegir, klárir og metnaðarfullir
            tölvunarfræðinemar við HR.</p>
    </div>
{% endblock content %}
